/* Шапка */
header {
    display: grid;
    grid-template-columns: repeat(3, 40% 17% 42.5%);
    align-items: center;
    margin: 92px 11px 92px 51px;
}
.header-menu-list {
    display: flex;
    column-gap: 25px;
    list-style: circle;
    text-transform: lowercase;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
}
.header-menu-item:hover {
    text-decoration: none;
}

.none-list-style {
    margin-right: 7px;
}
.none-list-style:hover {
    list-style: none;
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-self: end;
    width: 271px;
    font-size: 18px;
    line-height: 24.3px;
}
/* Меню */
/* 1 Секция */
.section1 {
    position: relative;
    width: 100%;
    height: 757px; 
    background: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.backgr {
    display: grid;
    background-color: rgba(0,0,0,0.6);
    position: relative;
    padding: 165px 50px 50px;
    color: white;
    font-style: normal;
}
.button {
    padding: 12px 32px;
    margin-left: 78px;
    background: transparent;
    border: 1px solid white;
    font-family: Raleway, sans-serif;
    color: white;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .button:hover {
    background: rgba(255,255,255);
    color: black;
  }
 .cover {
    font-size: 100px;
    font-weight: 700;
    margin-bottom:135px;
    letter-spacing: 30px;
    line-height: 100%;
    text-transform: uppercase;
}
.cover-description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.cover-subtitle {
    text-align: center;
    line-height: 28px;
    word-spacing: 18px;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}
.title-text {
    display: block;
    margin-top: 20px;
}

.title-text:first-child {
    line-height: 115%;
    margin: 0;
}
.spacing-extended {
    letter-spacing: 60px;
}
.no-spacing {
    letter-spacing: normal;
}

/* 2 Секция */
.backgr-lot{
    background-color: rgba(0,0,0,0.6);
    position: relative;
    width: 100%;
    height: 100%;
}
.lots-title {
    margin-left: 40px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase; 
}
.section2 {
    padding-top: 12%;
    padding-left: 2.4%;
    width: 100%;
}
.lots {
    color: white;
    margin-top: 27px;
    display: grid;
    grid-template-columns: repeat(3, 31% 31% 31%);
    height: 451px;
    gap: 23px;
}
.lot-title{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase; 
    margin: 0 40px 0 40px;
    padding-top: 50px;
}
.lot1{
    margin: 47% 10% 0 10%;
}
.lot2{
    margin: 7% 10% 0 10%;
}
.lot3{
    margin: 18% 10% 0 10%;
}
.lot1,
.lot2,
.lot3{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.lots1 {
    position: relative;
    background: url("../images/card-lot-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.lots2 {
    position: relative;
    background: url("../images/card-lot-02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.lots3 {
    position: relative;
    background: url("../images/card-lot-03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.link-lots {
    position: relative;
    top: 30px;
    margin-left: 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
.link-lots:hover {
    text-decoration: none;
}

/* 3 Секция */
.section3 {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(2, 35% 62%);
    grid-template-rows: repeat(2, 43% 50%);
    height: 618px;

}
.ball {
    background-color: rgba(0,0,0,1);
    border-radius: 50%;
    margin-top: 58px;
    padding-top: 50px;
    margin-left: 29%;
    width: 47%;
    height: 76%;
}
.title-section3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 142px;
    font-size: 24pt;
}
.text-section3 {
    font-size: 12pt;
    grid-column: 2/3;
    grid-row: 2/3;
}
/* подвал */
footer {
    display: grid;
    grid-template-columns: repeat(3, 40% 20% 40.5%);
    align-items: center;
    /* margin: -16px 43px; */
}

.contacts-footer {
    padding-left: 40px;
    justify-self: start;
    font-style: normal;
}
.footer-menu-list {
    text-align:center;
    column-gap: 25px;
    list-style: none;
    text-transform: lowercase;
}
.footer-menu-item:hover {
    text-decoration: none;
}
.text-footer-center {
    align-content: start
}
.section4 {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    align-items: center;
    margin-left: 220px;
}
.text-underline-m {
    text-underline-offset: 4px;
}
.text-underline {
    text-decoration: underline;
}