/* Шапка */
header {
    display: grid;
    grid-template-columns: repeat(3, 40% 17% 42.5%);
    align-items: center;
    margin: 92px 11px 92px 51px;
}
.header-menu-list {
    display: flex;
    column-gap: 25px;
    list-style: circle;
    text-transform: lowercase;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
}
.header-menu-item:hover {
    text-decoration: none;
}

.none-list-style {
    margin-right: 7px;
}
.none-list-style:hover {
    list-style: none;
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-self: end;
    width: 271px;
    font-size: 18px;
    line-height: 24.3px;
}
/* Меню */
/* 1 Секция */
.section-cover {
    position: relative;
    z-index: 1;
    width: 100%;
    background: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 180px;
    display: grid;
    position: relative;
    padding: 165px 50px 50px;
    color: white;
    font-style: normal;
}
.section-cover:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .5);
}
.section-text-cover {
    position: relative;
}
.button {
    padding: 12px 32px;
    margin-left: 78px;
    background: transparent;
    border: 1px solid white;
    font-family: Raleway, sans-serif;
    color: white;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .button:hover {
    background: rgba(255,255,255);
    color: black;
  }
 .cover {
    font-size: 100px;
    font-weight: 700;
    margin-bottom:135px;
    letter-spacing: 30px;
    line-height: 100%;
    text-transform: uppercase;
}
.cover-description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.cover-subtitle {
    text-align: center;
    line-height: 28px;
    word-spacing: 18px;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.text-end {
    text-align: end;
}
.title-text {
    display: block;
    margin-top: 20px;
}

.title-text:first-child {
    line-height: 115%;
    margin: 0;
}
.spacing-extended {
    letter-spacing: 60px;
}
.no-spacing {
    letter-spacing: normal;
}

/* 2 Секция */
.lots {
    margin: 0 50px 180px;
}
.lots-title {
    margin: 0 auto 27px 40px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    min-height: 100%;
    margin-bottom: 30px;
    list-style: none;
}

.lots-list-item {
    background-position: center;
    position: relative;
    flex-grow: 1;
    min-height: 100%;
    flex-basis: 430px;
    background: lightgray no-repeat center;
    background-size: cover;
}
.lots-list-item:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .5);
}

.lots-image-philm {
    background-image: url(../images/card-lot-01.jpg);
}

.lots-image-book {
    background-image: url(../images/card-lot-02.jpg);

}

.lots-imge-painting {
    background-image: url(../images/card-lot-03.jpg);
}


.lot {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
    color: white;
}

.lot-subtitle {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration:  underline;
}

.lot-description-philm {
    font-size: 20px;
    font-weight: 400;
    margin-top: 201px;
}
.lot-description-book {
    font-size: 20px;
    font-weight: 400;
    margin-top: 31px;
}
.lot-description-painting {
    font-size: 20px;
    font-weight: 400;
    margin-top: 80px;
}

.lot-subtitle,
.lot-description {
    line-height: 120%;
}

.show-all {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
    text-transform: lowercase;
}
.show-all:hover {
    text-decoration: none;
}


/* 3 Секция */
.about {
    display: grid;
    grid-template-columns: repeat(2, 35% 61%);
    grid-template-rows: repeat(1, 246px);
}
.ball {
    background-color: rgba(0,0,0,1);
    border-radius: 50%;
    padding-top: 64px;
    margin-left: 28.5%;
    width: 48%;
    height: 98%;
}
.title-about {
    display: flex;
    align-items: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.text-about {
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    grid-column: 2/3;
    grid-row: 2/3;
}
.text-about-section {
    margin-top: 28px;
}

/* подвал */
footer {
    display: grid;
    grid-template-columns: repeat(3, 40% 20% 40.5%);
    padding-top: 179px;
}

.contacts-footer {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 24.3px;
}
.footer-menu-list {
    display: flex;
    justify-content: center;
    text-align:center;
    column-gap: 25px;
    text-transform: lowercase;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.no-style {
    list-style-type: none;
}
.footer-menu-item:hover {
    text-decoration: none;
}
.text-footer-center {
    align-content: start
}
.social-network {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    justify-self: end;
}
.text-underline-m {
    text-underline-offset: 4px;
}
.text-underline {
    text-decoration: underline;
}